<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Peliculas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Listado</h1>
    <p th:text="'id: ' + ${usuario.id}" />
    <p th:text="'nombre: ' + ${usuario.nombre}" />
    <p th:text="'apellidos: ' + ${usuario.apellidos}" />
    <p th:text="'email: ' + ${usuario.email}" />
    <p th:text="'usuario: ' + ${usuario.usuario}" />
    <p th:text="'contraseña: ' + ${usuario.contrasena}" />
    <a href="/peliculas/crear">Volver atrás</a>
</body>
</html>