.container-sm {
    border-radius: 20px;
    border: 1px solid #7e0f23;
    box-shadow: 22px 22px 44px #9d9d9d, -22px -22px 44px #ffffff6a;
}

nav {
    background: linear-gradient(145deg, #7e0f23, #7e0f23);
    box-shadow: 10px 10px 50px #6d6d6d6e, -10px -10px 50px #5d5d5dc0;
}